infrastructure/.credentials
infrastructure/.terraform/*
infrastructure/.terraform.lock.hcl
infrastructure/*.tfstate*
infrastructure/terraform.tfvars
infrastructure/ssh-keys/*
infrastructure/tfplan 
templates/password_*
tf-cloud-init*